<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!--1. sql 실행 결과 xxxDTO 매핑  -->
<typeAliases>
	<typeAlias type="studys.StudyDTO" alias="studydto"/>
	<typeAlias type="studys.StudysearchDTO" alias="studysearchdto"/>
</typeAliases>
<!--2. DataSource(연결,여러개생성공유) -->

<!--3. sql 정의 파일명 설정  -->
</configuration>
